body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: pink;
}
.center{
    padding: 15px;
    background-color: aquamarine;
}
input[type=email], input[type=password]{
    width: 100%;
    margin: 10px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid blue;
    box-sizing: content-box;
}
h1{
    text-align: center;
}
.center{
    padding: 100px;
}
button{
    background-color: brown;
}

